/* 
    Titre: ShuttleMatch - Feuille de Style
    Description: Styles CSS pour l'application web ShuttleMatch. Contient les règles de mise en forme pour l'interface utilisateur.
    Auteur: NAYERI POOR Ali
    GitHub: https://github.com/Alialloz
*/

/* Styles globaux du corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e5dfdf;
    text-align: center;
}

/* Styles de la barre de navigation */
.navbar {
    background-color: #2f1e19;
    color: rgb(211, 158, 127);
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles pour les informations du club dans la barre de navigation */
.club-info {
    display: flex;
    align-items: center;
}

/* Styles pour le titre du club dans la barre de navigation */
.club-info h1 {
    margin: 0 10px 0 0;
    font-size: 24px;
}

/* Styles pour le paragraphe (slogan) du club dans la barre de navigation */
.club-info p {
    margin: 0;
    font-size: 14px;
    text-align: left;
}

/* Styles pour le logo du club dans la barre de navigation */
.navbar .logo {
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
}

/* Conteneur principal pour le contenu interactif */
.container {
    width: 100%;
    float: left;
    background-image: url('./images/fond.png'); /* Chemin de votre image */
    background-size: cover; /* Couvre entièrement l'arrière-plan */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    min-height: 100vh; /* Hauteur minimale pour couvrir l'écran */
}




/* Styles pour le titre de la bannière des matchs en attente */
.match-banner h3 {
    margin-top: 0;
    color: rgb(90, 64, 40);
}

/* Styles pour la liste des matchs en attente */
.match-list {
    list-style-type: none;
    padding: 0;
}

/* Styles pour chaque élément de la liste des matchs en attente */
.match-list li {
    margin-bottom: 10px;
    padding: 5px;
    color: rgb(63, 34, 18);
    background-color: rgb(72, 36, 28);
    border: 1px solid #ddd;
}

/* Styles pour le groupe de saisie des noms des joueurs */
.input-group {
    margin: 20px 0;
}

/* Styles pour chaque terrain de badminton */
.court {
    background: rgba(223, 147, 85, 0.758);
    border: 2px solid #5c3d2e; /* Bordure marron foncée */
    margin-bottom: 20px;
    padding: 10px 0;
    position: relative;
    width: 80%; /* Définir la largeur à 80% de celle de son conteneur */
    margin-left: auto; /* Centrage horizontal : marge gauche automatique */
    margin-right: auto; /* Centrage horizontal : marge droite automatique */
}


/* Styles pour le titre de chaque terrain */
.court h2 {
    margin-top: 0;
    padding-top: 10px;
    background: rgb(223, 147, 85);
    width: 30%;
    position: relative;
    z-index: 2;
    margin-left: auto; /* Centrage horizontal : marge gauche automatique */
    margin-right: auto; /* Centrage horizontal : marge droite automatique */
    border: 2px solid #5c3d2e; /* Bordure marron foncée */
    border-radius: 10px; /* Arrondir les bords */
}


/* Styles pour chaque côté du terrain */
.side {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

/* Styles pour chaque joueur sur le terrain */
.player {
    display: flex; /* Utilisez flexbox pour aligner l'image et le texte */
    align-items: center; /* Centre verticalement les éléments dans le div */

    padding: 5px;
    margin: 10px;
}

.player img {
    width: 30px; /* Réglage de la largeur de l'image */
    height: 30px; /* Réglage de la hauteur de l'image */
    border-radius: 50%; /* Rendre l'image circulaire */
    margin-right: 10px; /* Ajouter une marge entre l'image et le texte */
}


/* Styles pour le filet au milieu de chaque terrain */
.net {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: black;
    z-index: 1;
}

/* Styles pour les labels des champs de saisie des noms des joueurs */
label {
    margin-right: 10px;
}

/* Styles pour chaque champ de saisie de nom de joueur */
.player-name-input {
    margin: 10px 0;
}

.player-name-input label {
    margin-right: 10px;
}

.button {
    background-color: #f5f5dc; /* Beige très clair */
    color: black; /* Couleur du texte */
    border: 3px solid #654321; /* Contour épais et marron foncé */
    border-radius: 10px; /* Légèrement arrondi */
    padding: 10px 20px; /* Espacement intérieur pour rendre le bouton plus grand */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Enlève le soulignement des liens */
    display: inline-block; /* Pour permettre le padding */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge autour du bouton */
    transition-duration: 0.4s; /* Durée de l'animation pour le survol */
    cursor: pointer; /* Curseur en forme de pointeur */
}

.button:hover {
    background-color: #654321; /* Marron foncé au survol */
    color: white; /* Couleur du texte au survol */
}

.label {
    color: #654321; /* Marron foncé pour le texte */
    font-size: 16px; /* Taille de la police */
    margin-bottom: 5px; /* Marge en dessous du label */
    display: inline-block; /* Pour que la marge fonctionne correctement */
}

.input-field:focus {
    border-color: #8b4513; /* Changement de couleur de la bordure lors de la mise au point */
    outline: none; /* Suppression de l'outline par défaut pour le focus */
}