body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-info {
    display: flex;
    align-items: center;
}

.club-info h1 {
    margin: 0 10px 0 0;
    font-size: 24px;
}

.club-info p {
    margin: 0;
    font-size: 14px;
    text-align: left;
}

.navbar .logo {
    height: 80px; 
    border-radius: 10px; 
    margin-right: 20px; 
}

.navbar .club-info {
    display: inline-block;
    margin-left: 20px;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar p {
    margin: 0;
    font-size: 14px;
}

.container {
    width: 70%; /* Réduction pour faire de la place pour la bannière */
    float: left; /* Alignement à gauche */
}

.match-banner {
    width: 30%; /* Largeur de la bannière */
    float: right; /* Alignement à droite */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    height: 100vh; /* Hauteur de la vue */
}

.match-banner h3 {
    margin-top: 0;
}

.match-list {
    list-style-type: none;
    padding: 0;
}

.match-list li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ddd;
}
.input-group {
    margin: 20px 0;
}

.court {
    background: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
    position: relative;
}

.court h2 {
    margin-top: 0;
    padding-top: 10px;
    background: white;
    width: 100%;
    position: relative;
    z-index: 2; 
}

.side {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.player {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.net {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: black;
    z-index: 1; 
}

label {
    margin-right: 10px;
}

.player-name-input {
    margin: 10px 0;
}

.player-name-input label {
    margin-right: 10px;
}